extends layouts/main.pug

block contents
    video(src=`/${video.fileUrl}` controls=true style="max-width: 300px; max-hight:300px")
    .video-detail
        h1=video.title
        p=video.description
        ul
            each genre in video.genres
                li=genre
        a(href=`/videos/delete/${video._id}`) DELETE VIDEO
        a(href=`/videos/edit/${video._id}`) EDIT VIDEO
